# Node modules
/node_modules

# Compilation output
/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

/hardhat-config.ts

hardhat.config.ts

/.env

./chronos-app/node_modules

/watchtower/node_modules

